

.header {
    background-color: white;
}

.header-wrapper {
    background-color: #fff6e8;
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.my-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: fit-content;
    gap: 8px;
    align-items: center;
    font-family: Arimo-SemiBold;
    font-weight: 600;
    font-size: 32px;
}

.marker {
    width: 16px;
    height: 16px;
}

.my-job {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
    padding-left: 20px;
    align-items: center;
    font-family: Arimo-SemiBold;
    font-size: 24px;
    color: #4c1700;
}

.header-photo {
    max-block-size: 10%;
}

.main-photo {
    max-width: 90px;
    height: auto;
    border-radius: 100%;
    border: 1px solid rgb(103, 52, 0);
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    align-items: center;
    font-family: Arimo-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    gap: 16px;
    margin: 20px;
}

.nav-list-item {
    color: #4b4b4b;
}

.nav-list-item:hover {
    color: #4c1700;
    font-family: Arimo-SemiBold;
    padding-bottom: 2px;
}

.lang {
    max-width: 26px;
    max-height: 26px;
}

.burger-menu {
    display: none;
}

.line {
    display: block;
    margin: 5px auto;
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: #4c1700;
    transition: 0.3s;
}